html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div.computer {

}

div.phone {

}

@media only screen and (max-width: 1080px) {
    div.phone {
        display: none;
    }
}

@media only screen and (min-width: 1081px) {
    div.computer {
        display: none;
    }
}